/ATCCSException/build/
/ATCCSException/dist/
/CppApplication_1/build/
/CppApplication_1/dist/
/hello/build/
/hello/dist/
/EMEController/dist/
/EMEController/build/
/Test/build/
/Test/dist/
/ATCCSUtility/build/
/ATCCSUtility/dist/