/ATCCSException/build/
/ATCCSException/dist/
/CppApplication_1/build/
/CppApplication_1/dist/
/hello/build/
/hello/dist/
/EMEController/dist/
/EMEController/build/
/Test/build/
/Test/dist/
/ATCCSUtility/build/
/ATCCSUtility/dist/
/ATCCSDBManager_GUI/build/
/ATCCSDBManager_GUI/dist/
/QWUIKit/dist/
/QWUIKit/build/
/QtTest/dist/
/QtTest/build/
/QtApplication_1/dist/
/QtApplication_1/build/
/ATCCSDBInitializer/build/
/ATCCSDBInitializer/dist/
/ATCCSEMController/dist/
/ATCCSEMController/build/
/ATCCSEMWindow/build/
/ATCCSEMWindow/dist/
/ATCCSEMCore/build/
/ATCCSEMCore/dist/
/ATCCSATWindow/build/
/ATCCSATWindow/dist/
/ATCCSATController/dist/
/ATCCSATController/build/
/EMGatherConsole/build/
/EMGatherConsole/dist/